/* * {
        margin: 0;
        padding: 0;
        font-size: 62.5%;
    }

    main{
        font-size: 3rem;
    } */

.img_mais_pedidos div {
  width: 300px;
  height: 200px;
  background-color: black;
}
