* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  margin: 0.2;
  padding: 0.2;
}
h2 {
  font-size: 3rem;
  margin: 0.2;
  padding: 0.2;
}
h3 {
  font-size: 3.5rem;
  margin: 0.2;
  padding: 0.2;
}

p {
  font-size: 2rem;
  margin: 0.2;
  padding: 0.2;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container_fundo {
  z-index: -1;
}
.container_fundo img {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.container_card {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo_card {
  width: 80vw;
  height: 50vh;
  background-color: chocolate;
  border: black solid 0.2rem;
  border-radius: 1rem;
  display: flex;
}

.local_card {
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 15vw;
  height: 35rem;
  background-color: chocolate;
  color: white;
  border: black solid 0.1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.icone {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone img {
  width: 5vw;
  height: 10vh;
  background-color: black;
  border-radius: 5rem;
}

.texto_card {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.texto_card h2 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_mini {
  width: 60vw;
  height: 100%;
}

.local_mini {
  width: 60vw;
  height: 25vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mini_cards {
  width: 14vw;
  height: 8vh;
  background-color: chocolate;
  border: black solid 0.1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
}

.mini_cards p {
  width: 11vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini_icon {
  width: 3vw;
  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mini_icon img {
  width: 2vw;
  height: 5vh;
  background-color: black;
  border-radius: 5rem;
}
