* {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
}
h3 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}

h1 h2 h3 p {
  margin: 0.2rem;
  padding: 0.2rem;
}

.lista_pokemons {
  width: 100vw;
  height: 70vh;
  position: relative;
}

.lista_pokemons section {
  display: inline-block;
}

.card01 {
  width: 20vw;
  height: 65vh;
  color: white;
  border: 0.3rem solid black;
  border-radius: 2rem;
  background-color: #591d77;
  background-image: linear-gradient(to bottom, #2f163b, #591d77);
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.card01 h2 {
  border-bottom: black solid 0.5rem;
}

.img_pokemon01 {
  width: 18vw;
  height: 35vh;
  background-image: url(img/fundo_zoroark\ 300x600.png);
  border: 1rem solid #2f163b;
  border-radius: 0rem 5rem 0rem 5rem;
  position: relative;
  left: 5%;
}

.img_pokemon01 img {
  position: absolute;
  left: 10%;
}

.card02 {
  width: 20vw;
  height: 65vh;
  color: white;
  border: 0.3rem solid black;
  border-radius: 2rem;
  background-color: #591d77;
  background-image: linear-gradient(to bottom, #df5b4f, #fbd43c);
  position: absolute;
  top: 5vh;
  left: 35vw;
}

.card02 h2 {
  border-bottom: black solid 0.5rem;
}

.img_pokemon02 {
  width: 18vw;
  height: 35vh;
  background-image: url(img/fundo_dermanitan\ 400x400.png);
  border: 1rem solid #df5b4f;
  border-radius: 0rem 5rem 0rem 5rem;
  position: relative;
  left: 5%;
}

.img_pokemon02 img {
  position: absolute;
  left: 0.5vw;
  top: 5vh;
}


.card02 {
  width: 20vw;
  height: 65vh;
  color: white;
  border: 0.3rem solid black;
  border-radius: 2rem;
  background-color: #591d77;
  background-image: linear-gradient(to bottom, #df5b4f, #fbd43c);
  position: absolute;
  top: 5vh;
  left: 35vw;
}

.card02 h2 {
  border-bottom: black solid 0.5rem;
}

.img_pokemon02 {
  width: 18vw;
  height: 35vh;
  background-image: url(img/fundo_dermanitan\ 400x400.png);
  border: 1rem solid #df5b4f;
  border-radius: 0rem 5rem 0rem 5rem;
  position: relative;
  left: 5%;
}

.img_pokemon02 img {
  position: absolute;
  left: 0.5vw;
  top: 5vh;
}

.info_pokemon {
  width: 100%;
  height: 30vh;
  position: relative;
}

.info_pokemon h1 {
  border-top: #2f163b solid 0.5rem;
}

.info_pokemon h3 {
  position: relative;
  left: 1vw;
}
